# INGORE everything by default
*

# DO NOT IGNORE _whitelisted_items_ within subdirectories
!*/

# whitelisted items
!.gitignore
!LICENSE
!README

# blacklist even with whitelisted items
lib/
var/
proc/
sys/
