# INGORE everything by default
*

# DO NOT IGNORE _whitelisted_items_ within subdirs
!*/

# WHITELIST specific items
!.gitignore
!LICENSE
!README
/var/www/*php

# BLACKLIST even with whitelisted items
*~
*.swp
*.tar.gz
*.rpm
*.deb
lib/
var/
proc/
sys/
