# INGORE everything by default
*

# DO NOT IGNORE _whitelisted_items_ within subdirs
!*/

# WHITELIST specific items
!.gitignore
!LICENSE
!README

# BLACKLIST even with whitelisted items
lib/
var/
proc/
sys/
