# DO NOT IGNORE anything (because / is ignored)
!*

# IGNORE specific items
.bash_history
.rpmdb/
.selected_editor
.themes/
.viminfo
bin/led-enable
earth/builds/latest
earth/scripts/launch-galaxy.sh
media/
src/liquid-galaxy-ro
tools/spacenav-rezero
