# DO NOT IGNORE anything (because / is ignored)
!*

# IGNORE specific items
.pwd.lock
ConsoleKit/
NetworkManager/
OpenCL/
X11
!X11/Xsession.d
!X11/default-display-manager
acpi/
adduser.conf
alternatives/
apm/
apparmor.d/
apparmor/
at.deny
avahi/
bash_completion
bash_completion.d/
bindresvport.blacklist
blkid.conf
blkid.tab
bluetooth/
ca-certificates.conf
calendar/
colord.conf
console-setup/
cron.daily/
cron.hourly/
cron.monthly/
cron.weekly/
crontab
cups/
dbus-1/
debconf.conf
debian_chroot
debian_version
default/acpid
default/avahi-daemon
default/bootlogd
default/console-setup
default/crda
default/cron
default/cups
default/dbus
default/devpts
default/google-chrome
default/google-earth
default/google-talkplugin
default/halt
default/keyboard
default/nfs-common
default/nss
default/rcS
default/rsync
default/rsyslog
default/useradd
defoma/
deluser.conf
depmod.d/
dhcp/dhclient-enter-hooks.d/
dhcp/dhclient-exit-hooks.d/ntpdate
dhcp/dhclient-exit-hooks.d/rfc3442-classless-routes
dhcp3/
dictionaries-common/
dkms/
dpkg/
emacs/
environment
esound/
fonts/
foomatic/
fstab
gai.conf
gamin/
gconf/
ghostscript/
groff/
group
group-
grub.d/
gshadow
gshadow-
gssapi_mech.conf
gtk-2.0/
gtk-3.0/
host.conf
hostname
hosts.allow
hosts.deny
idmapd.conf
ifplugd/
init.d/
init/*.conf
!init/galaxy.conf
!init/lightdm.conf
initramfs-tools/update-initramfs.conf
inputrc
insserv.conf
insserv.conf.d/
iproute2/
issue.net
kbd/
kernel-img.conf
kernel/
ld.so.cache
ld.so.conf
ld.so.conf.d/
ldap/
legal
libao.conf
libnl-3/
lightdm/
lighttpd/conf-available/
lighttpd/conf-enabled/
lirc/
locale.alias
locale.nopurge
localtime
logcheck/
login.defs
lsb-base-logging.sh
lsb-release
magic
magic.mime
mailcap
mailcap.order
manpath.config
menu-methods/
menu/
mime.types
mke2fs.conf
modules
modutils/
motd
mplayer/
mtab
mysql/
nagios-plugins/
nail.rc
netconfig
network/if-down.d/
network/if-post-down.d/
network/if-pre-up.d/wpasupplicant
network/if-up.d/
network/interfaces
network/run
networks
newt/
nologin
nsswitch.conf
odbc.ini
odbcinst.ini
openal/
pam.conf
pam.d/
papersize
passwd
passwd-
perl/
php5/
pm/
pnm2ppa.conf
polkit-1/
ppp/
profile
protocols
pulse/
python/
python2.7/
qt3/
rarfiles.lst
rc.local
rc0.d/
rc1.d/
rc2.d/
rc3.d/
rc4.d/
rc5.d/
rc6.d/
rcS.d/
resolv.conf
resolvconf/
rmt
rpc
rsyslog.d/50-default.conf
samba/
sane.d/
securetty
security/
sensors.d/
sensors3.conf
services
sgml/
shadow
shadow-
shells
skel/
snmp-mibs-downloader/
snmp/snmptrapd.conf
squid3/errorpage.css
squid3/msntauth.conf
ssh/
ssl/
su-to-rootrc
sudoers.d/README
sysctl.conf
systemd/
terminfo/
timezone
ts.conf
ucf.conf
udev/rules.d/70-persistent-cd.rules
udev/rules.d/70-persistent-net.rules
udev/rules.d/README
udev/udev.conf
ufw/
vga/
vim/
vtrgb
wgetrc
wpa_supplicant/
xdg/Trolltech.conf
xdg/autostart/
xdg/awesome/
xdg/user-dirs.conf
xml/
